* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to right, rgb(132, 132, 237), aqua);
    /* background-color: red; */
}
.all {
    margin: 10% 30%;
}
#grid {
    position: relative;
    height: 410px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    /* border: 5px black solid; */
    justify-content: center;
    
}

h2 {
    width: 400px;
    padding: 10px 10px;
    color: blue;
    border: 4px aqua solid ;
    margin-bottom: 10px;
    
}
